@import "nord/src/sass/nord.scss";

// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: $nord9;
$secondary: $nord7;
$accent: $nord15;

$dark: $nord0;
$dark-page: $nord0;

$positive: $nord14;
$negative: $nord11;
$info: $nord8;
$warning: $nord13;

$chat-message-received-bg: $nord6;
$chat-message-sent-bg: $nord6;
